name: build-jar
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - run: mvn clean install
      - run: mvn clean package
      - uses: actions/upload-artifact@v4
        with:
          name: Ward.jar
          path: target/*.jar
